# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# Alembic
alembic/versions/__pycache__/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.slnx

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log